*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
 background: url(login.gif) ;
}
.login{
    width: 400px;
    height: 400px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    opacity: 0.8;
}
h5{
    padding-top: 5px;
}
button{
    padding: 6px   ;
}
button:hover{
    background: #ffc107;
    color: #000;
    cursor: pointer;

}